In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import pandas as pd

In [2]:
housepricedata = pd.read_csv('MedianPrice.csv')

In [3]:
house = pd.DataFrame(housepricedata)

NameError: name 'data' is not defined

In [4]:
engine = create_engine("postgresql://zbhtrmywnxmbym:199f1d11d2d4d504723828eb19e03483e17129e0ebb111e895bdc32998715894@ec2-3-212-75-25.compute-1.amazonaws.com:5432/de12rg1na3grjp")

In [35]:
housepricedata.to_sql('housePrices', engine)

In [5]:
cityloc = pd.read_csv('Coordinates.csv')

In [8]:
cityloc.to_sql('cityloc',engine)